@page "/inventories"
@inject NavigationManager NavigationManager 
@inject IViewInventoryByNameUseCase ViewInventoryByNameUseCase

<h3>Inventory List</h3>
<br />
<ViewInventoriesComponent onSearchInventories = "onSearchInventories"
DisplaySearchResult = "true"></ViewInventoriesComponent>
@if (listInventories != null)
{
    <table class ="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var inv in this.listInventories)
            {
                <InventoryItemComponent Inventory ="inv" ></InventoryItemComponent>
            }
        </tbody>
    </table>
}
<br/>
<button type = "button" class = "btn btn-primary" @onclick = "AddInventory"> Add Inventory</button>
@code 
{
    private List<Inventory>? listInventories;
    protected override async Task OnInitializedAsync()
    {
        var invs =await ViewInventoryByNameUseCase.ExcuteAsync("shit");
        this.listInventories = invs.ToList(); 
    }
    private void onSearchInventories(List<Inventory> inventories)
    {
        listInventories = inventories;
    }
    public void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }
    private void OnSelectInventory(Inventory inventory)
    {
    }
}
