@page "/editproduct/{id:int}"
<h3>Edit Product</h3>

@code {
    private Product product;

    [Parameter]
    public int Id { get; set; }
    protected override Task OnParametersSetAsync()
    {

    }

}
